<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/53648c4b-bc59-4f88-ac3b-9171fbdf4fd1/resourcegroups/Testing/providers/Microsoft.ContainerRegistry/registries/DockerWebappTest20210102182603</ResourceId>
    <ResourceName>DockerWebappTest20210102182603</ResourceName>
    <ResourceGroup>Testing</ResourceGroup>
    <Subscription>Visual Studio Professional</Subscription>
    <RegistryUrl>https://dockerwebapptest20210102182603.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a69a6a7b-5ea7-4a09-9822-601bed24064b</ProjectGuid>
  </PropertyGroup>
</Project>